$accent: #f57c00;
$accent-dark: #d16800;

#index {
  background: #4d302b;
  color: #ffffff;

  .text-accent-dark {
    color: $accent-dark;
  }

  .header {
    height: 10px;
    background: $accent;
  }

  .title {
    font-family: "Bree Serif", serif;
  }

  .screenshot {
    height: 600px;
  }

  .download-badge {
    height: 60px;
  }

  .screenshots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.4rem;
  }

  .screenshot-card {
    background: #593731;

    img {
      width: 280px;
    }

    .screenshot-card-bottom {
      background: #72463f;
    }
  }

  /* Small (sm) */
  @media (max-width: 640px) {
  }

  /* Medium (md) */
  @media (max-width: 768px) {
    .screenshot {
      height: 400px;
    }

    .download-badge {
      height: 40px;
    }

    .screenshots {
      grid-template-columns: 1fr 1fr;
    }

    .screenshot-card {
      img {
        width: 180px;
      }
    }
  }

  /* Large (lg) */
  @media (max-width: 1024px) {
  }
}
